body {
    background-color: darkmagenta;
}



header a {
    color: magenta;
    background-color: aquamarine;
    padding-left: 40px;
}

img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    margin: 0 0 10px 0;
}

img:nth-of-type(3) {
height: 600px;
width: 800px;
}



a {
    display: block;
}