* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: "Alegreya500";
    src: url(../fonts/Alegreya_SC/AlegreyaSC-Medium.ttf);
}

@font-face {
    font-family: "Alegreya400";
    src: url(../fonts/Alegreya_SC/AlegreyaSC-Regular.ttf);
}

@font-face {
    font-family: "Alegreya_Sans";
    src: url(../fonts/Alegreya_Sans/AlegreyaSans-Medium.ttf);
}

@font-face {
    font-family: "Nixie";
    src: url(../fonts/Nixie_One/NixieOne-Regular.ttf);
}

:root {
    --space-lr: 9vw;

}


/* LANDINGPAGE */

header {
    height: 100vh;
}

.landingpage {
    background: url(../img/divheader.jpg) no-repeat center / cover;
    height: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
}

header nav {
    height: 10%;
    display: flex;
    justify-content: space-between;
}

.landingpage nav a h1 {
    font-family: Alegreya500;
    font-size: 3.6rem;
    padding: 40px 0 0 48px;
    text-decoration: underline transparent;
    transition: text-decoration 0.3s ease;
}

.landingpage nav a:hover h1 {
    text-decoration-color: currentColor;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90%;
}

.hero p:nth-of-type(1) {
    font-family: Nixie;
    font-size: 56px;
    line-height: 89px;
    text-transform: uppercase;
}

.hero p:nth-of-type(2) {
    font-family: Alegreya400;
    font-size: 22px;
    line-height: 35px;
    font-weight: 400;
    color: #FFFFFF80;
}

.burger {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    padding: 40px 48px 0 0;

}

nav .burger div {
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 2px;

}

@media screen and (max-width: 550px) {
    .hero p:nth-of-type(1) {
        font-size: 50px;
    }
    
    .hero p:nth-of-type(2) {
        font-family: Alegreya400;
        font-size: 30px;
        line-height: 35px;
        font-weight: 400;
        margin-bottom: 130px;
        padding-top: 10px;
        color: #FFFFFF80;
    }
}


/* MAIN */
/* PORTFOLIO */

.portfolio {
    display: flex;
    flex-direction: column;
    padding: 10vh var(--space-lr);

}

.portfolio .container {
    padding: 0 1vw 7vh 1vw;
}

.heading1 {
    display: flex;
    justify-content: space-between;
    width: 79vw;
    margin: auto;
    margin-bottom: 7.3vh;
    
}


div h2 {
    font-family: Alegreya_Sans;
    font-size: 36px;
    line-height: 39.6px;
    color: #3A4F52;
    margin-bottom: 15px;
}

.portfolio p:nth-of-type(1) {
    color: #6A6A6A;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.heading_right {
    display: flex;
    align-items: flex-start;
    padding: 1vh 2vw;
    height: 20%;
    border: 1px solid #3A4F52;
    cursor: pointer;
    transition: background-color 1s ease, color 1s ease;

}

.heading_right:hover {
    background-color: #405162;
}

.heading_right:hover a {
    color: white;
}

.landingpage nav a:hover h1 {
    text-decoration-color: currentColor;
}

main a {
    color: #3A4F52;

    font-family: "Helvetica Neue";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.gallery1 {
    display: grid;
    row-gap: 3vh;
    column-gap: 2vw;
    width: 79vw;
    margin: auto;
    grid-template-columns: repeat(3, 25vw);
    grid-template-rows: repeat(2, auto);

}

.gallery1 img {
    width: 100%;
    height: 100%;
    /* margin: 0 15px 18px;  */
    object-fit: cover; /* -- die bilder müssen die grid-columns komplett ausfüllen, damit die gaps genau auf 30px gesetzt werden können, deshalb object-fit */
    transition: .5s ease;
}

/* 
.gallery1 img.one:hover {

} */

.gallery1 img.two:hover {
    opacity: 0.3;
}

.gallery1 img.three:hover {
    opacity: 0.3;
  }
  .gallery1 img.four:hover {
    opacity: 0.3;
  }
  .gallery1 img.five:hover {
    opacity: 0.3;
  }

  .gallery1 img.six:hover {
    opacity: 0.3;
  }



  @media screen and (max-width: 550px) {

    .gallery1 {
        display: unset;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

  }


/* SERVICES */

.serviceswrap {
    background-image: url(../img/divservices.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: var(--space-lr);
    
}

.services {
    background: rgba(0, 0, 0, 0.20);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2.5vh 2vw;
    max-width: 79vw;
    margin: auto; /* --remember: der container braucht eine max-width mit margin-auto für zentrierung*/

}


.heading2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
}

.heading2 p {
    color: #FFF;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.options div h3 {
    color: #FFF;
    text-align: center;
    font-family: Alegreya_Sans;
    font-size: 30px;
    font-weight: 500;
    line-height: 33px;
}

.services div h2 {
    font-family: Alegreya_Sans;
    font-size: 36px;
    font-weight: 500;
    line-height: 39.6px;
    color: #FFF;

}

.options div p {
    color: #FFF;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 15px;

}  

.options div { /* -remember: flex muss auf container/elternelement nicht auf die img angewendet werden */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 1.8vw;
}

.options img {
    margin-bottom: 16px;
}

.options {
    display: flex;
    gap: 30px;

}

@media screen and (max-width: 800px) {
    .options {
        flex-direction: column;
    }

    .serviceswrap {
        background-image: url(../img/divservicesTABLET.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 90vh;
        display: flex;
        justify-content: center;
        padding: 0 2vw;
    }

    .services {
        max-width: 100%;
        margin: auto; 
    }

}

@media screen and (max-width: 550px) {
    .services {
        max-width: 550px;
        padding: 0;
    }

    .serviceswrap {
        padding: unset;
    }
}



/* BLOG */


.blogwrap {
    display: flex;
    padding: 3vh var(--space-lr) 8vh;
}

.blog {
    flex-direction: column;
    width: 100%

}

.heading3 {
    display: flex;
    justify-content: space-between;
    width: 79vw;
    margin: auto;
    margin-bottom: 7.3vh;
}

.gallery2 {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    width: 100%;

}


.one {
    display: flex;
    justify-content: center;
}

.one img {
    justify-content: center;
    height: 28vh;
    width: auto;
    padding: 0 1vw 2.2vh;
    margin-bottom: 18px;
}

.text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 1vw 2.2vh;
    margin-bottom: 18px;
    width: 25vw;
}

.text h3 {
    color: #3A4F52;
    font-family: Alegreya_Sans;
    font-size: 30px;
    font-weight: 500;
    line-height: 33px;
    margin-bottom: 16px;
}

.text h4 {
    color: #6A6A6A;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    line-height: 20px;
    margin-bottom: 19px;
}

.blog p {
    color: #6A6A6A;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.text a {
    font-size: 14px;
    line-height: 20px;
    color: #4DA7CA;
    text-decoration: underline transparent;
    transition: text-decoration 0.3s ease;
}

.blog a:hover  {
    text-decoration-color: currentColor;
}

.two img {
    height: 33vh;
    width: auto;
    padding: 0 1vw 2.2vh;
    margin-bottom: 18px;
}

.three img {
    height: 44vh;
    width: auto;
    padding: 0 1vw 2.2vh;
    margin-bottom: 18px;
}


.gallery2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



@media screen and (max-width: 550px) {

    .gallery2 {
        display: flex;
        flex-direction: column;
    }

    .text {
        width: unset;
    }
}

/* PARALLAX */

.parallax {
    min-height: 47vh;
    background: url(../img/divparallax.png) no-repeat center / cover;
    background-attachment: fixed;
    padding: var(--space-lr);

    display: flex;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    color: white;
}

.parallax div {
    max-width: 79vw;
    margin: auto;

    padding: 3.7vh 1vw;
    background: rgba(0, 0, 0, 0.20);
}

.parallax p {
    font-family: "Alegreya_Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 39.6px;
    margin-bottom: 60px;
}

.parallax a {
    color: #FFF;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border: white 1px solid;
    padding: 1.4vh 1.2vw;
    cursor: pointer;
    transition: background-color .5s ease, color .5s ease;
}

.hoverwhite a:hover {
background-color: white;
}

.hoverwhite a:hover {
color: #3A4F52;
}


@media screen and (max-width: 800px) {
    .parallax {
        background: url(../img/divparallaxTABLET.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 57vh;
        display: flex;
        justify-content: center;
        padding: 0 2vw;

    }

    .parallax div {
        max-width: 100%;
    }


    @media screen and (max-width: 550px) {
        .parallax {
            padding: unset;
        }
    }
}


/* TESTIMONIALS */



.testimonials {
    max-width: 100vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: var(--space-lr);
}


.header h2 {
    margin-bottom: 16px;
}

.testimonials .header {
    margin-bottom: 60px;
    max-width: 79vw;
    margin: auto;

}


.customers {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 0 1vw;
    max-width: 79vw;
    margin: auto;
}

.cus {
    padding: 3.2vh 1.8vw;
}

.customers img {
    margin-bottom: 15px;
}

.customers p:nth-of-type(1) {
    margin-bottom: 23px;
}

.customers p:nth-of-type(2) {
    font-weight: 700;
}

.testimonials p {
    color: #6A6A6A;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 22px;
}

@media screen and (max-width: 800px) {
    .customers {
        flex-direction: column;
    }
}

/* CONTACT */


.contactwrap {
    min-height: 61vh;
    background-image: url(../img/contactwrapper.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: var(--space-lr);
}

.contact {
    background: rgba(0, 0, 0, 0.20);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2.5vh 2vw;
    max-width: 79vw;
    margin: auto;
}

.contact .heading2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.contact div h2 {
    color: #FFF;

}

.contact div p {
    color: #FFF;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}  

form {
    display: flex;
    flex-direction: column;
    width: 38.5vw;

}

.contact .form input[type=text],
.contact .form input[type=email] {
    background-color: transparent;
    padding: 1.1vh 0.9vw;
    margin-bottom: 15px;
    border: 1px solid #CCC;
    border-radius: 4px;
    font-family: "Helvetica Neue";
    color: white;

}

.contact .form input[type=textarea] {
    background-color: transparent;
    padding: 9px 13px 27px 13px;
    margin-bottom: 15px;
    border: 1px solid #CCC;
    border-radius: 4px;
    font-family: "Helvetica Neue";
    color: white;

}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .5s ease, color .5s ease;
}

.submit input[type=submit] {
    margin-bottom: 0px;
    background-color: transparent;
    color: white;
    padding: 0.8vh 0.9vw;
    border: 1px solid #CCC;
    font-family: "Helvetica Neue";
}


.submit input:hover {
background-color: white;
color: #3A4F52;
}

::placeholder {
    color: white;
}



@media screen and (max-width: 800px) {
    .contactwrap {
        padding: 20vw 0;

    }

}

/* FOOTER */

.footer {
    min-height: 17vh;
    background-color: #405162;
    max-width: 100vw;
    padding: 0 78.5vw 0 10.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    color: #FFF;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    min-width: 24vw;

}
