* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


section {
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1695310553736-1441229d7a70?q=80&w=2656&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
