
section {
    background-image: url(https://images.unsplash.com/photo-1460602594182-8568137446ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80);
    background-size: contain;
    background-repeat: repeat-x;
    text-align: center;
}

/* background-size: contain passt das Bild so an, dass es vollständig sichtbar ist, ohne zu schneiden.

/*background-repeat: repeat-x wiederholt das Bild horizontal.*/

article {
    background-image: url(https://images.unsplash.com/photo-1603398749947-87246022fbf9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

/* background-position: right ; positioniert das Bild so, dass es rechts ist. */

/* background-repeat: no-repeat; verhindert, dass das Bild wiederholt wird.*/

