* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-image: url(https://www.figma.com/design/OEd5we9PpuUukl5wKKvR1V/css_einfuehrung_units_level_3_3?node-id=2-3&t=SfnAm5RyK9pgxlYo-4);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100wh;
}