* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

@font-face {
    font-family: "Lato-reg";
    src:url(../fonts/Lato/Lato-Regular.ttf)
}

.wrapper {
    background-color: #D9E8E5;
    min-height: 100%;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.4rem;
    padding: 2vh 3vw;
    background-color: #ffffff;
    font-family: "Lato-reg";
    color: rgb(0,0,8);
}

/* .left {
    display: flex;
    align-self: flex-start;
    list-style: none;
    gap: 0 16px;
    justify-content: space-between;



}

.right {
    display: flex;
    list-style: none;
    gap: 0 16px;
    justify-content: space-between;
    margin:auto;

} */

/* sobald  eine schrift o.ä. auf einem bild liegt, kann man davon ausgehen, dass das bild ein "hintergrund" ist. d.h. man muss es in css einfügen, ansonsten bekommt man probleme schrift draufzuklatschen.*/

nav ul {
    display: flex;
    list-style: none;
    gap: 0 16px;
    justify-content: space-between;
}

