* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


form {
    width: 30rem;
    height: 30rem;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7rem;
    font-weight: 700;
}

label {
    display: block;
    margin: 10px 0 5px 0;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input,
select,
textarea {
    border: 1.5px rgb(162, 161, 161) solid;
}

form {
    margin-bottom: 100px;
}

label,
input,
select {
    display: block;
    width: 100%;
}

input[type=text] {
    display: inline-block;
    width: 45%;
}

label::after {
    content: " *";
    color: rgb(242, 67, 67);
    margin-left: 5px;
}

textarea {
    resize: none;
    width: 100%;
    height: 40%;
    margin-top: 2rem;
}

input[type=submit] {
    width: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(160, 95, 148);
    color: whitesmoke;
    border: none;
    padding: 6px;
    margin-top: 2px;
}


input[type=submit].clicked {
    background-color: rgb(160, 95, 148, 0.8);
  }